body{
    background-color: antiquewhite;
    font-family: Chilanka;
}
table {
    width: 72%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
    background-color: cadetblue;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
table,th,td{
    border: 2px solid black;
}
button{
    width: 20%;
    padding: 8px 12px;
    color: darkmagenta;
    background-color: darkgoldenrod;
    font-size: 14px;
}
footer{
    text-align:center;
    padding:20px;
    background-color:#f0f0f0;
    margin-top:20px;
}